/DATA
/foo.m
/Demo.m
/auto-mpg.data
/data.m
/dset.h5
/dset.o.h5
/examples
/hello
/hello.cpp
/mlp.m
/nets/*.prototxt
/nohup.out
/solver/*.prototxt
/models/*/*.caffemode*
/models/*/*.solverstat*
/models/DenseNet/DE.24/CatRaRE.prototxt
/models/DenseNet/DE.24/CatRaRE_deploy.prototxt
/models/DenseNet/DE.24/CatRaRE_solver.prototxt
/models/Inception/NW.24/CatRaRE.prototxt
/models/Inception/NW.24/CatRaRE_deploy.prototxt
/models/Inception/NW.24/CatRaRE_solver.prototxt
/models/DenseNet/DE.24/CatRaRE.prototxt
